#mainpage-div {
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 22em; }
  #mainpage-div .main-box h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif; }
  #mainpage-div .here-button {
    position: absolute;
    padding-left: 20.5em;
    padding-top: 5.5em;
    height: 65px;
    width: 50%; }
    #mainpage-div .here-button a {
      text-decoration: none; }
      #mainpage-div .here-button a h4 {
        margin: 0px;
        border: white solid 1px;
        border-radius: 50px;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        color: white;
        width: 300px;
        font-family: 'Questrial', sans-serif; }
    #mainpage-div .here-button h4:hover {
      text-decoration: none;
      font-weight: 900;
      border: white solid 2px; }

#page2-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  background-color: rgba(163, 209, 216, 0.92); }
  #page2-div .backbutton {
    height: 0px;
    padding-left: 2%; }
    #page2-div .backbutton .ph-backbutton-wrapper {
      height: 60px;
      width: 60px;
      padding-top: 20px; }
      #page2-div .backbutton .ph-backbutton-wrapper img {
        height: 60px;
        width: auto; }
  #page2-div #ph-confirmbutton {
    text-align: center;
    padding-top: 4.5em; }
    #page2-div #ph-confirmbutton button {
      border: #DDC137 3px solid;
      border-radius: 50px;
      height: 60px;
      width: 240px;
      color: grey;
      background-color: #A3D1D8;
      text-align: center; }
      #page2-div #ph-confirmbutton button p {
        color: white;
        font-size: 30px;
        padding-top: 3px; }
    #page2-div #ph-confirmbutton button:hover {
      background-color: #DDC137; }
  #page2-div h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif; }
  #page2-div .master-container--ph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3em;
    width: 60%;
    margin-left: 20%; }
    #page2-div .master-container--ph .phsingle-container {
      height: 320px;
      width: 389px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px; }
      #page2-div .master-container--ph .phsingle-container h2 {
        font-size: 80;
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 1em; }
      #page2-div .master-container--ph .phsingle-container .number-container {
        height: 111px;
        width: 80%;
        margin: 0 auto;
        background-color: #A3D1D8;
        border-radius: 75px;
        margin-top: 4em; }
        #page2-div .master-container--ph .phsingle-container .number-container .number-minus {
          float: left; }
          #page2-div .master-container--ph .phsingle-container .number-container .number-minus input {
            color: #055F63;
            line-height: 100px;
            height: 111px;
            width: 97px;
            border-radius: 75px 0px 0px 75px;
            background-color: #DDC137;
            border: 0px;
            font-size: 120px; }
        #page2-div .master-container--ph .phsingle-container .number-container .number-plus {
          float: right; }
          #page2-div .master-container--ph .phsingle-container .number-container .number-plus input {
            color: #055F63;
            line-height: 100px;
            height: 111px;
            width: 97px;
            border-radius: 0px 75px 75px 0px;
            background-color: #DDC137;
            border: 0px;
            font-size: 120px; }
        #page2-div .master-container--ph .phsingle-container .number-container .number-input input {
          line-height: 20px;
          width: 117.2px;
          height: 111px;
          text-align: center;
          background-color: rgba(163, 209, 216, 0);
          border: 0px;
          color: #055F63;
          font-size: 100px; }

#page3-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  border-top: #07B0DA solid 5px;
  background-color: rgba(163, 209, 216, 0.92);
  border-top: #A3D1D8;
  border-bottom: #A3D1D8;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black; }
  #page3-div .backbutton {
    height: 0px;
    padding-left: 2%; }
    #page3-div .backbutton .v-backbutton-wrapper {
      text-align: center;
      height: 50px;
      width: 150px;
      padding-top: 9px;
      background-color: #e74c3c;
      border-radius: 5px; }
      #page3-div .backbutton .v-backbutton-wrapper p {
        color: white;
        font-size: 22px; }
  #page3-div h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif; }
  #page3-div .master-contanier--v {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4em;
    width: 90%;
    padding-left: 9%; }
    #page3-div .master-contanier--v .single-container {
      height: 375px;
      width: 227px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px; }
      #page3-div .master-contanier--v .single-container .image-wrapper {
        text-align: center; }
        #page3-div .master-contanier--v .single-container .image-wrapper img {
          text-align: center;
          height: 128px;
          width: auto; }
      #page3-div .master-contanier--v .single-container p {
        text-align: center;
        color: white;
        font-family: 'Questrial', sans-serif;
        font-weight: bold;
        font-size: 18px; }
      #page3-div .master-contanier--v .single-container .button-wrapper {
        text-align: center; }
        #page3-div .master-contanier--v .single-container .button-wrapper button {
          border-radius: 50px;
          border: #DDC137 2px solid;
          height: 40px;
          width: 60px;
          color: white;
          background-color: #055F63; }
        #page3-div .master-contanier--v .single-container .button-wrapper button:hover {
          background-color: #DDC137; }

#page4-div {
  display: none;
  transform: translateY(25.2%);
  height: 785px;
  background-color: rgba(163, 209, 216, 0.92); }
  #page4-div .mapboxgl-ctrl-top-left {
    display: none; }
  #page4-div .backbutton {
    position: absolute;
    height: 40px;
    padding-top: 1%;
    padding-left: 2%; }
    #page4-div .backbutton .m-backbutton-wrapper {
      height: 80px;
      width: 60px;
      padding-top: 20px; }
      #page4-div .backbutton .m-backbutton-wrapper img {
        height: 60px;
        width: auto; }
  #page4-div .sidebar {
    position: absolute;
    height: 785px;
    width: 450px;
    border-top: 13px solid;
    border-right: 13px solid;
    border-color: #055F63;
    margin-right: 0px; }
    #page4-div .sidebar h3 {
      font-size: 36px;
      font-weight: bold;
      color: white;
      text-align: center;
      padding-top: 4em; }
    #page4-div .sidebar .directions-div {
      background-color: #055F63;
      width: 22em;
      height: 19.3em;
      position: absolute;
      top: 15em;
      left: 10%;
      border-radius: 10px; }
      #page4-div .sidebar .directions-div #aa, #page4-div .sidebar .directions-div #bb {
        display: block;
        height: 2.5em;
        margin: 2em;
        border-radius: 3px;
        width: 287px; }
      #page4-div .sidebar .directions-div p {
        margin: 0px;
        font-size: 20px;
        text-align: center;
        color: white; }
      #page4-div .sidebar .directions-div #searchbutton {
        border-radius: 50px;
        border: #DDC137 3px solid;
        background-color: #055F63;
        text-align: center;
        height: 45px;
        width: 100px;
        margin-left: 119px; }
        #page4-div .sidebar .directions-div #searchbutton p {
          color: white;
          padding-top: 5px; }
      #page4-div .sidebar .directions-div #searchbutton:hover {
        background-color: #DDC137; }
    #page4-div .sidebar #sidebar-button {
      display: none;
      text-align: center;
      padding-top: 400px; }
      #page4-div .sidebar #sidebar-button button {
        border: #DDC137 3px solid;
        border-radius: 50px;
        height: 60px;
        width: 240px;
        color: grey;
        background-color: rgba(163, 209, 216, 0.92);
        text-align: center; }
        #page4-div .sidebar #sidebar-button button p {
          color: white;
          font-size: 30px;
          padding-top: 3px; }
      #page4-div .sidebar #sidebar-button button:hover {
        background-color: #DDC137; }
  #page4-div #mapbox-wrapper {
    float: right;
    height: 785px;
    width: 78.6%; }
    #page4-div #mapbox-wrapper #map {
      width: 1600px; }
      #page4-div #mapbox-wrapper #map .mapboxgl-canvas {
        width: 100%;
        height: 100%; }

#page5-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  background-color: rgba(163, 209, 216, 0.92); }
  #page5-div .backbutton {
    height: 0px;
    padding-left: 2%; }
    #page5-div .backbutton .c-backbutton-wrapper {
      height: 60px;
      width: 60px;
      padding-top: 20px; }
      #page5-div .backbutton .c-backbutton-wrapper img {
        height: 60px;
        width: auto; }
  #page5-div h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif; }
  #page5-div .main-container--c {
    height: 470px;
    width: 100%;
    background-color: #055F63; }
    #page5-div .main-container--c h2 {
      color: white;
      padding: 1em 0 0 2em; }
    #page5-div .main-container--c .main-container--c--wrapper {
      display: flex;
      justify-content: space-around;
      padding: 2em 5% 0 5%;
      width: 100%; }
      #page5-div .main-container--c .main-container--c--wrapper .yt-container {
        height: 220px;
        width: 12.5%; }
        #page5-div .main-container--c .main-container--c--wrapper .yt-container h4 {
          padding: 0.6em 0 0 0.5em;
          color: white; }
        #page5-div .main-container--c .main-container--c--wrapper .yt-container h3 {
          color: white; }
        #page5-div .main-container--c .main-container--c--wrapper .yt-container p {
          padding-top: 0px;
          color: white;
          font-size: 30px; }
        #page5-div .main-container--c .main-container--c--wrapper .yt-container #to {
          text-align: center; }
    #page5-div .main-container--c .button-wrappers {
      display: flex;
      flex-direction: row;
      padding-top: 2em;
      padding-left: 2em; }
      #page5-div .main-container--c .button-wrappers .button-wrapper {
        text-align: center;
        width: 1500px; }
        #page5-div .main-container--c .button-wrappers .button-wrapper button {
          border: #DDC137 3px solid;
          border-radius: 50px;
          height: 60px;
          width: 240px;
          color: grey;
          background-color: #055F63;
          text-align: center; }
          #page5-div .main-container--c .button-wrappers .button-wrapper button a {
            text-decoration: none; }
            #page5-div .main-container--c .button-wrappers .button-wrapper button a p {
              color: white;
              font-size: 30px;
              padding-top: 3px; }
        #page5-div .main-container--c .button-wrappers .button-wrapper button:hover {
          background-color: #DDC137; }
      #page5-div .main-container--c .button-wrappers .rbutton-wrapper {
        width: 200px; }
        #page5-div .main-container--c .button-wrappers .rbutton-wrapper #restart-button {
          border: #e74c3c 3px solid;
          border-radius: 50px;
          height: 60px;
          width: 160px;
          color: grey;
          background-color: #055F63;
          text-align: center; }
          #page5-div .main-container--c .button-wrappers .rbutton-wrapper #restart-button a {
            text-decoration: none; }
            #page5-div .main-container--c .button-wrappers .rbutton-wrapper #restart-button a p {
              color: white;
              font-size: 30px;
              padding-top: 3px; }
        #page5-div .main-container--c .button-wrappers .rbutton-wrapper #restart-button:hover {
          background-color: #e74c3c; }

.background-img {
  position: absolute; }
  .background-img img {
    width: 100%;
    height: 983px; }

/*# sourceMappingURL=style.css.map */
