// ------------
// ABOUT ICON
// ------------

// .about-icon--wrapper {
//   padding: 30px 40px 0px 0px;
//   .about-icon {
//     position: relative;
//     float: right;
//     background-color: #A3D1D8;
//     height: 97px;
//     width: 97px;
//     border-radius: 50%;
//     text-align: center;
//     img {
//       height: 70px;
//       width: 70px;
//       margin-top: 15px;
//     }
//   }
// }

// ------------
//  MAIN PAGE
// ------------

#mainpage-div {
  // display: none;
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 22em;
  .main-box {
    h1 {
      text-align: center;
      font-size: 84px;
      font-weight: bold;
      color: white;
      font-family: 'Questrial', sans-serif;
    }
  }
  .here-button {
    position: absolute;
    padding-left: 20.5em;
    padding-top: 5.5em;
    height: 65px;
    width: 50%;
    a {
      text-decoration: none;
      h4 {
        margin: 0px;
        border: white solid 1px;
        border-radius: 50px;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        color: white;
        width: 300px;
        font-family: 'Questrial', sans-serif;
      }
    }
    h4:hover {
      text-decoration: none;
      font-weight: 900;
      border: white solid 2px;
    }
  }
}

// ------------
//   PAGE 2 (DETAILS)
// ------------

#page2-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  // background-color: #A3D1D8;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  background-color: rgba( 163, 209, 216, 0.92);
  .backbutton {
    height: 0px;
    padding-left: 2%;
    .ph-backbutton-wrapper {
      height: 60px;
      width: 60px;
      padding-top: 20px;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  #ph-confirmbutton {
    text-align: center;
    padding-top: 4.5em;
    button {
      border-radius: 3px;
      height: 60px;
      width: 240px;
      color: grey;
      background-color: #DDC137;
      text-align: center;
      p {
        color: black;
        font-size: 30px;
        padding-top: 3px;
      }
    }
  }
  h1 {
    padding-left: 7%;
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  .master-container--ph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3em;
    width:60%;
    margin-left: 20%;
    .phsingle-container {
      height: 320px;
      width: 389px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px;
      h2 {
        font-size: 80;
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 1em;
      }
      .number-container {
        height: 111px;
        width: 80%;
        margin: 0 auto;
        background-color: #A3D1D8;
        border-radius: 75px;
        margin-top: 4em;
        .number-minus {
          float: left;
          input {
            height: 111px;
            width: 97px;
            border-radius: 75px 0px 0px 75px;
            background-color: #DDC137;
            border: 0px;
            font-size: 90px;
          }
        }
        .number-plus {
          float: right;
          input {
            line-height: 20px;
            height: 111px;
            width: 97px;
            border-radius: 0px 75px 75px 0px;
            background-color: #DDC137;
            border: 0px;
            font-size: 120px;
          }
        }
        .number-input {
          input {
            line-height: 20px;
            width: 117.2px;
            height: 111px;
            text-align: center;
            background-color: rgba( 163, 209, 216, 0);
            border: 0px;
            color: #055F63;
            font-size: 100px;
          }
        }
      }
    }
  }
}

// ------------
//  PAGE 3 (VEHICLE)
// ------------

#page3-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  border-top: #07B0DA solid 5px;
  background-color: rgba( 163, 209, 216, 0.92);
  border-top: #A3D1D8;
  border-bottom: #A3D1D8;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  .backbutton {
    height: 0px;
    padding-left: 2%;
    .v-backbutton-wrapper {
      height: 60px;
      width: 60px;
      padding-top: 20px;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  .master-contanier--v {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4em;
    width: 90%;
    padding-left: 9%;
    .single-container {
      height: 375px;
      width: 227px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px;
      .image-wrapper {
        text-align: center;
        img {
          text-align: center;
          height: 128px;
          width: auto;
        }
      }
      p {
        text-align: center;
        color: white;
        font-family: 'Questrial', sans-serif;
        font-weight: bold;
        font-size: 18px;
      }
      .button-wrapper {
        text-align: center;
        button {
          border-radius: 3px;
          height: 40px;
          width: 60px;
          color: black;
          background-color: #DDC137;
        }
      }
    }
  }
}

// ------------
// PAGE 4 (MAP)
// ------------

#page4-div {
  display: none;
  // position: relative;
  transform: translateY(25.2%);
  height: 785px;
  // width: 800px;
  // width: 100%;
  background-color: rgba( 163, 209, 216, 0.92);
  .mapboxgl-ctrl-top-left {
    display: none;
  }
  .backbutton {
    position: absolute;
    height: 40px;
    padding-top: 1%;
    padding-left: 2%;
    .m-backbutton-wrapper {
      height: 80px;
      width: 60px;
      padding-top: 20px;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  .sidebar {
    position: absolute;
    height: 785px;
    width: 450px;
    border-top: 13px solid;
    border-right: 13px solid;
    border-color: #055F63;
    margin-right: 0px;
    h3 {
      font-size: 36px;
      font-weight: bold;
      color: white;
      text-align: center;
      padding-top: 4em;;
    }
    .directions-div {
      background-color: #055F63;
      width: 22em;
      height: 15em;
      position: absolute;
      top: 15em;
      left: 10%;
      border-radius: 10px;
      #aa, #bb {
        display: block;
        height: 2.5em;
        margin: 2em;
        border-radius: 3px;
        width: 287px;
      }
      p {
        margin: 0px;
        font-size: 20px;
        text-align: center;
        color: white;
      }
    }

    #sidebar-button {
      // position: absolute;
      // width: 22%;
      text-align: center;
      padding-top: 360px;
      button {
        border-radius: 3px;
        height: 60px;
        width: 240px;
        color: grey;
        background-color: #DDC137;
        text-align: center;
        p {
          color: black;
          font-size: 30px;
          padding-top: 3px;
        }
      }
    }
  }
  .mapbox-wrapper {
    float: right;
    height: 785px;
    #map {
      float: right;
      position: relative; top:0; bottom:0; width:100%;
      width: 1477px;
      height: 100%;
      border-top: 13px solid #055F63;
    }
  }
}

// ------------
//  PAGE 5 (CONFIRM)
// ------------

#page5-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  background-color: rgba( 163, 209, 216, 0.92);
  .backbutton {
    height: 0px;
    padding-left: 2%;
    .c-backbutton-wrapper {
      height: 60px;
      width: 60px;
      padding-top: 20px;
      img {
        height: 60px;
        width: auto;
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  .main-container--c {
    // display: flex;
    // align-items: center;
    height: 470px;
    width: 100%;
    background-color: #055F63;
    h2 {
      color: white;
      padding: 1em 0 0 2em;
    }
    .main-container--c--wrapper {
      display: flex;
      justify-content: space-around;
      padding: 2em 5% 0 5%;
      width: 100%;
      .yt-container {
        // background-color: black;
        height: 220px;
        width: 12.5%;
        h4 {
          padding: 0.6em 0 0 0.5em;
          color: white;
        }
        h3 {
          color: white;
        }
        p {
          padding-top: 0px;
          color: white;
          font-size: 30px;
        }
        #to{
          text-align: center;
        }
      }
    }
    .button-wrapper{
      text-align: center;
      padding-top: 3em;
      button {
        border-radius: 3px;
        height: 60px;
        width: 240px;
        color: grey;
        background-color: #DDC137;
        text-align: center;
        p {
          color: black;
          font-size: 30px;
          padding-top: 3px;
        }
      }
    }
  }
}

// ------------
//   BACK IMG
// ------------

.background-img {
  position: absolute;
  img {
    width: 100%;
    height: 983px;
  }
}
