// ------------
// ABOUT ICON
// ------------

.about-icon {
  position: relative;
  float: right;
  background-color: #A3D1D8;
  padding: 40px 60px 0px 0px;
  height: 97px;
  width: 97px;
  border-radius: 50%;
  img {
    height: 79px;
    width: 79px;
    margin: 5px 0px 0px 9px;
  }
}

// ------------
//  MAIN PAGE
// ------------

#mainpage-div {
  display: none;
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 22em;
  .main-box {
    h1 {
      text-align: center;
      font-size: 84px;
      font-weight: bold;
      color: white;
      font-family: 'Questrial', sans-serif;
    }
  }
  .here-button {
    position: absolute;
    padding-left: 20.5em;
    padding-top: 2.5em;
    height: 65px;
    width: 50%;
    h4 {
      margin: 0px;
      border: white solid 1px;
      text-align: center;
      font-size: 36px;
      font-weight: 400;
      color: white;
      width: 300px;
      font-family: 'Questrial', sans-serif;
    }
  }
}

// ------------
//   PAGE 2 (VEHICLE)
// ------------

#page2-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  background-color: #A3D1D8;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  .master-contanier--v {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4em;
    .single-container {
      height: 375px;
      width: 227px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px;
      .image-wrapper {
        text-align: center;
        img {
          text-align: center;
          height: 128px;
          width: auto;
        }
      }
      p {
        text-align: center;
        color: white;
        font-family: 'Questrial', sans-serif;
        font-weight: bold;
        font-size: 18px;
      }
      .button-wrapper {
        text-align: center;
        button {
          border-radius: 3px;
          height: 40px;
          width: 60px;
          color: grey;
          background-color: #DDC137;
        }
      }
    }
  }
}

// ------------
//  PAGE 3 (TRIP DETAILS)
// ------------

#page3-div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 660px;
  width: 100%;
  background-color: #A3D1D8;
  padding-top: 20px;
  box-shadow: 0px 6px 40px black;
  h1 {
    text-align: center;
    text-align: center;
    font-size: 84px;
    font-weight: bold;
    color: white;
    font-family: 'Questrial', sans-serif;
  }
  .master-container--ph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4em;
    width:60%;
    margin-left: 17.5%;
    .phsingle-container {
      height: 320px;
      width: 389px;
      background-color: #055F63;
      border-radius: 5px;
      box-shadow: 3px 3.5px 5px;
      h2 {
        font-size: 80;
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 1em;
      }
      .number-container {
        height: 111px;
        width: 80%;
        margin: 0 auto;
        background-color: #A3D1D8;
        border-radius: 75px;
        margin-top: 4em;
        .number-minus {
          height: 111px;
          width: 97px;
          border-radius: 75px 0px 0px 75px;
          float: left;
          background-color: #DDC137;
        }
        .number-plus {
          height: 111px;
          width: 97px;
          border-radius: 0px 75px 75px 0px;
          float: right;
          background-color: #DDC137;
        }
      }
    }
  }
}

// ------------
// PAGE 3 (MAP)
// ------------

#page4-div {
  position: relative;
  top: 50%;
  transform: translateY(25%);
  height: 785px;
  width: 100%;
  background-color: #A3D1D8;
  .sidebar {
    height: 785px;
    width: 450px;
    border-top: 13px solid;
    border-right: 13px solid;
    border-color: #055F63;
    h2 {
      font-size: 80;
      color: white;
      padding-left: 40px;
      font-weight: bold;
      padding-top: 1em;
    }
    .sidebar-button {
      position: absolute;
      bottom: 15%;
      width: 22%;
      text-align: center;
      button {
      }
    }
  }
  .mapapi {
    float: right;
    width: 700px;
    height: 828px;
  }
}






// ------------
//   BACK IMG
// ------------

.background-img {
  position: absolute;
  img {
    width: 100%;
    height: 983px;
    filter: blur(3px);
  }
}
